.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
}

.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
}

.ancho {
    width: 100%;
}

.tam {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-size: cover;
}

.msg {
    padding: .3em !important;
    padding-bottom: 28px !important;
}


/*pruebas*/

.textmsg {
    /* border: 1px solid red;*/
    text-align: left !important;
    transform: translateX(50%) translateY(0%);
    font-size: 1px !important;
}

.mat-error {
    font-size: 10px !important;
}

.textmsg2 {
    /* border: 1px solid red;*/
    text-align: left !important;
    transform: translateX(0%) translateY(0%);
    font-size: 11px;
    padding: .1rem !important;
}

.btnLogin {
    text-align: left !important;
}

.log {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.color {
    background-color: #41CCA5;
}

.col {
    color: #154236;
}